* {
    font-family: sans-serif, Arial, Helvetica;
}
table, th, td {
    border: 1px solid black;
    border-spacing: 3px;
    padding: 3px;
}
table {
      width: 100%;
      table-layout: fixed;
}
body {
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
#content {
    margin: auto;
    width: 70%;
    background-color: lightgray;
}
#profilePic {
    float: right;
}
#name {
    align-content: center;
}
.work {
    color: red;
}
.Japanese {
    color: royalblue;
}
.CompNet {
    color: yellow;
}
.WebDev {
    color: teal;
}
  